.ThoughtPage {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    margin: 10px;
    width: 500px;
}

h2 {
    border-bottom: 3px solid black;
    padding-bottom: 20px;
    text-align: center;

}